body {
  font-family: Noto Sans, sans-serif;
  font-size: 13px;
  margin: 0;
  background-color: #f7f7f7;
}

.news-section {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.news-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.news-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.news-content h3 {
  font-size: 1.5rem;
  margin: 0 0 10px;
}

.news-content p {
  flex-grow: 1;
  font-size: 1rem;
  color: #666;
}

.see-more {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.see-more:hover {
  text-decoration: underline;
}

.navigation-buttons {
  display: flex;
  gap: 10px;
}

.nav-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  background-color: white;
  cursor: pointer;
}

.nav-button.next {
  background-color: #0704e1;
  color: white;
}
